<div class="pl-6 pr-6">
  <div class="flex justify-between items-center">
    <h3 class="pt-4 pb-4 font-bold text-2xl">Danh sách dự án</h3>
    <p-button label="Thêm mới dự án" routerLink="/projects/create"></p-button>
  </div>
  <div class="grid grid-cols-4 gap-4 pb-7">
    <p-iconField iconPosition="right">
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Nhập tên dự án" />
    </p-iconField>
  </div>
  <p-treeTable
    #myTab
    [columns]="cols"
    [value]="listDataTree"
    [paginator]="true"
    [rows]="10">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns"/>
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="text-left">Tên dự án</th>
        <th class="text-left">Mô tả</th>
        <th class="text-center">Tổng quan dự án</th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-rowNode
      let-columns="columns"
      let-rowData="rowData">
      <tr [ttRow]="rowNode" style="height: 35px">
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          <a (click)="onDetailProject(rowData.id)"
             class="text-blue-600 cursor-pointer hover:underline">{{ rowData.name }}</a>
        </td>
        <td>{{ rowData.description }}</td>
<!--        @for(item of listDataTree; track $index) {-->
<!--          @if (item.data.id == rowData.id) {-->
            <td><p-meterGroup [value]="listMeterGroup[getIndexInRowData(rowData)]"></p-meterGroup></td>
<!--          }-->
<!--        }-->
      </tr>
    </ng-template>
  </p-treeTable>
</div>
