<div class="pl-6 pr-6">
  <div class="flex justify-between items-center">
    <h3 class="pt-4 pb-4 font-bold text-2xl">Danh sách dự án</h3>
    <p-button label="Thêm mới dự án" routerLink="/projects/create"></p-button>
  </div>
  <div class="grid grid-cols-4 gap-4 pb-7">
    <p-iconField iconPosition="right">
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Nhập tên dự án" />
    </p-iconField>
  </div>
  <p-treeTable
    #myTab
    [columns]="cols"
    [value]="listDataTree"
    [paginator]="true"
    [rows]="5">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns"/>
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Tên dự án</th>
        <th>Mô tả</th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-rowNode
      let-rowData="rowData">
      <tr [ttRow]="rowNode" style="height: 35px">
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          <a (click)="onDetailProject(rowData.id)" class="text-blue-700 cursor-pointer">
            {{ rowData.name }}
          </a>
        </td>
        <td>{{ rowData.description }}</td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
