<div class="flex justify-between items-center">
  <p class="text-sm"> Các trường bắt buộc được ký hiệu bở dấu <span style="color: red">*</span></p>
  <p-button label="Nhập theo file" [text]="true" [plain]="true"
            size="small" class="import-button font-light"></p-button>
</div>
<form [formGroup]="form" class="grid grid-cols-2 gap-4 relative">
    <div class="flex flex-col gap-2 pt-4">
      <jira-label [jiraLabel]="'Dự án'" [jiraRequired]="true"/>
      <p-treeSelect id="projectId"
                    class="md:w-20rem w-full"
                    containerStyleClass="w-full"
                    formControlName="projectId"
                    placeholder="Chọn"
                    [options]="listProject"
                    (onNodeSelect)="onSelectProject($event)"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4">
      <jira-label [jiraLabel]="'Loại công việc'" [jiraRequired]="true"/>
      <p-dropdown optionLabel="name"
                  optionValue="id"
                  formControlName="typeId"
                  placeholder="Chọn"
                  [options]="issueTypes"
                  [showClear]="true"
                  (onChange)="updateDropdownValue($event, 'typeId')"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4 col-start-1 col-end-3">
        <jira-input-text formControlName="subject" jiraLabelText="Tổng quan" [jiraRequired]="true"></jira-input-text>
    </div>
    <div class="flex flex-col gap-2 pt-4 col-start-1 col-end-3">
      <jira-label [jiraLabel]="'Mô tả'"></jira-label>
      <p-editor formControlName="description"
                [style]="{ height: '120px' }"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4">
      <jira-label [jiraLabel]="'Thời gian bắt đầu - kết thúc'"></jira-label>
      <p-calendar selectionMode="range"
                  formControlName="time"
                  [readonlyInput]="true"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4">
      <jira-input-text formControlName="estimateTime"
                       jiraLabelText="Ước lượng thời gian"
                       [jiraIsInputNumber]="true"
                       [jiraSuffix]="' giờ'"
                       [jiraMin]="0"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4">
      <jira-label [jiraLabel]="'Độ ưu tiên'"></jira-label>
      <p-dropdown optionLabel="name"
                  optionValue="id"
                  placeholder="Chọn"
                  formControlName="priority"
                  [showClear]="true"
                  [options]="priories"
                  (onChange)="updateDropdownValue($event, 'priority')"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4">
        <jira-label [jiraLabel]="'Độ nghiêm trọng'"></jira-label>
      <p-dropdown optionLabel="name"
                  optionValue="id"
                  placeholder="Chọn"
                  formControlName="severity"
                  [options]="severities"
                  [showClear]="true"
                  (onChange)="updateDropdownValue($event, 'severity')"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4">
      <jira-label [jiraLabel]="'Người được giao'"></jira-label>
      <p-dropdown optionLabel="username"
                  optionValue="id"
                  placeholder="Chọn"
                  formControlName="assignUserId"
                  [options]="assignees"
                  [showClear]="true"
                  [disabled]="projectIdSelected === undefined"
                  (onChange)="updateDropdownValue($event, 'assignUserId')"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4">
      <jira-label [jiraLabel]="'Người nghiệm thu'"></jira-label>
      <p-dropdown optionLabel="username"
                  optionValue="id"
                  placeholder="Chọn"
                  formControlName="reviewUserId"
                  [options]="reviewers"
                  [showClear]="true"
                  [disabled]="projectIdSelected === undefined"
                  (onChange)="updateDropdownValue($event, 'reviewUserId')"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4">
      <jira-label [jiraLabel]="'Trạng thái'" [jiraRequired]="true"></jira-label>
      <p-dropdown optionLabel="name"
                  optionValue="id"
                  placeholder="Chọn"
                  formControlName="statusIssueId"
                  [showClear]="true"
                  [options]="statuses"
                  [disabled]="projectIdSelected === undefined"
                  (onChange)="updateDropdownValue($event, 'statusIssueId')"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4">
      <jira-label [jiraLabel]="'Danh mục'"></jira-label>
      <p-dropdown optionLabel="name"
                  optionValue="id"
                  placeholder="Chọn"
                  formControlName="categoryId"
                  [options]="categories"
                  [showClear]="true"
                  [disabled]="projectIdSelected === undefined"
                  (onChange)="updateDropdownValue($event, 'categoryId')"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4">
      <jira-label [jiraLabel]="'Công việc cha'"></jira-label>
      <p-treeSelect id="parentId"
                    class="md:w-20rem w-full"
                    containerStyleClass="w-full"
                    formControlName="parentId"
                    ariaLabelledBy="name"
                    placeholder="Chọn"
                    [disabled]="projectIdSelected === undefined"
                    [options]="listTask"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4">
      <jira-input-text formControlName="reporter"
                       jiraLabelText="Người tạo"
                       [jiraRequired]="true"
                       [jiraDisabled]="true"
      />
    </div>
    <div class="flex flex-col gap-2 pt-4 col-start-1 col-end-3">
        <jira-label [jiraLabel]="'Tệp đính kèm'"></jira-label>
        <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                      [multiple]="true"
                      [showUploadButton]="false"
                      [chooseLabel]="'chọn file'"
                      [cancelLabel]="'hủy bỏ'"
                      [accept]="'image/*'"
                      [chooseStyleClass]="'h-10 rounded-sm'"
                      [maxFileSize]="1000000"
                      (onSelect)="onSelectFile($event)"
                      (onRemove)="onRemoveFile($event)"
                      (onClear)="onClearFiles($event)">
            <ng-template pTemplate="content">
              <!-- custom link -->
                <a class="custom-upload-link">Upload File</a>
            </ng-template>
        </p-fileUpload>
    </div>
    <div class="flex gap-2 pt-4 items-center">
      <p-checkbox value="New York" inputId="isPublic" formControlName="isPublic"></p-checkbox>
        <label for="isPublic" class="select-none cursor-pointer">Công khai</label>
    </div>
</form>
<div class="absolute bottom-0 left-0 right-0 border-gray-200 rounded-b bg-white"
     style="border-top: 1px solid rgb(229 231 235);">
    <div class="flex justify-between items-center p-4 rounded-b">
        <div class="flex align-items-center gap-1">
            <p-checkbox value="New York" inputId="checkbox"></p-checkbox>
            <label for="checkbox" class="select-none cursor-pointer">Thêm công việc khác</label>
        </div>
        <div class="flex gap-4">
            <p-button label="Hủy" [text]="true" [plain]="true" size="small" (click)="closeDialog()"></p-button>
          <p-button label="Lưu" size="small" [disabled]="form.invalid" (onClick)="insertTask()"></p-button>
        </div>
    </div>
</div>
