<div class="pl-6 pr-6">
  <h3 class="font-bold text-2xl pt-4 pb-4">Thông tin chung</h3>
  <div class="grid grid-cols-2 gap-4">
    <div class="col-start-1 col-end-2">
      <p-accordion [multiple]="true" [activeIndex]="[0, 1, 2]">
        <div class="col-start-1 col-end-2"></div>
        <p-accordionTab header="Giới thiệu" [headerStyleClass]="'bg-white p-3 text-sm border-solid border-t-2-primary'">
          Đồ án tốt nghiệp - ứng dụng quản lý công việc <br><br>Người thực hiện - <strong>Nguyễn Minh Lượng</strong>
        </p-accordionTab>
        <p-accordionTab header="Các dự án" [headerStyleClass]="'bg-white p-3 text-sm border-solid border-t-2-primary'">
          <p-treeTable
            #myTab
            [columns]="cols"
            [value]="listDataTree"
            [paginator]="true"
            [rows]="10">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns"/>
              </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="text-left">Tên dự án</th>
<!--                <th class="text-left">Số thành viên</th>-->
              </tr>
            </ng-template>

            <ng-template
              pTemplate="body"
              let-rowNode
              let-columns="columns"
              let-rowData="rowData">
              <tr [ttRow]="rowNode" style="height: 35px">
                <td>
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <a (click)="onDetailProject(rowData.id)"
                     class="text-blue-600 cursor-pointer hover:underline">{{ rowData.name }}</a>
                </td>
<!--                <td>3</td>-->
              </tr>
            </ng-template>
          </p-treeTable>
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="col-start-2 col-end-3">
      <p-accordion [multiple]="true" [activeIndex]="[0, 1, 2]">
        <div class="col-start-1 col-end-2"></div>
        <p-accordionTab header="Biểu đồ tiến độ"
                        [headerStyleClass]="'bg-white p-3 text-sm border-solid border-t-2-primary'">
          <div class="grid grid-cols-2 gap-4 relative">
            <div class="flex flex-col gap-2">
              <jira-label [jiraLabel]="'Dự án'"/>
              <p-treeSelect class="md:w-20rem w-full"
                            containerStyleClass="w-full"
                            placeholder="Chọn"
                            [options]="listProject"
                            (onNodeSelect)="onSelectProject($event)"
                            (onNodeUnselect)="onUnselectProject($event)"
              />
            </div>
            <div class="flex flex-col gap-2">
              <jira-label [jiraLabel]="'Người thực hiện'"></jira-label>
              <p-dropdown optionLabel="username"
                          optionValue="userId"
                          placeholder="Chọn"
                          [options]="assignees"
                          [showClear]="true"
                          (onChange)="onChoseUser($event)"
              />
            </div>
          </div>
          @if (showChart) {
            <canvas id="MyChart">{{ chart }}</canvas>
            <h3 class="text-center pt-2">
              <strong>Biểu đồ tiến độ công việc</strong>
            </h3>
          } @else {
            <p class="text-center pt-6">Chưa chọn dự án hoặc dự án không có dữ liệu để hiển thị thống kê</p>
          }
        </p-accordionTab>
        <!--        <p-accordionTab header="Công việc được giao (chưa hoàn thành)" [headerStyleClass]="'bg-white p-3 text-sm border-solid border-t-2-primary'">-->
        <!--          Content 1-->
        <!--        </p-accordionTab>-->
        <!--        <p-accordionTab header="Hoạt động gần đây" [headerStyleClass]="'bg-white p-3 text-sm border-solid border-t-2-primary'">-->
        <!--          Content 2-->
        <!--        </p-accordionTab>-->
        <!--        <p-accordionTab header="Header 3" [headerStyleClass]="'bg-white p-3 text-sm border-solid border-t-2-primary'">-->
        <!--          Content 3-->
        <!--        </p-accordionTab>-->
      </p-accordion>
    </div>
  </div>


</div>
