<div class="flex layout">
  <div class="mt-4 w-full h-auto">
    <div class="ml-4 mr-4">
      <div class="flex justify-between">
        <div class="text-2xl mt-3 text-black font-semibold antialiased tracking-normal">
          Danh sách công việc
        </div>
        <div class="flex gap-2 justify-center items-end flex-col">
          <div class="flex">
            <p class="text-xl">Xem Danh sách</p>
            <p-inputSwitch [(ngModel)]="isViewList" (ngModelChange)="changeStage($event)"></p-inputSwitch>
          </div>
          @if (isViewList) {
            <div class="flex">
              <p class="text-xl">Xem dạng cây</p>
              <p-inputSwitch [(ngModel)]="isViewTree" (ngModelChange)="changeStageViewList($event)"></p-inputSwitch>
            </div>
          }
        </div>
<!--        <p-selectButton [options]="stateView" [(ngModel)]="value" optionLabel="label" optionValue="value"-->
<!--                        (onChange)="checkChange($event)" styleClass="text-sm"></p-selectButton>-->
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
