<div class="sticky top-0 z-20">
  <p-toolbar>
    <div class="p-toolbar-group-start button-list">
      <p-button label="Chung" [text]="true" [plain]="true"
                size="small" class="header-drop" routerLink="/dashboard"></p-button>
      <p-button label="Dự án" [text]="true" [plain]="true"
                size="small" class="header-drop" routerLink="/projects"></p-button>
      <p-button label="Công việc" [text]="true" [plain]="true"
                size="small" class="header-drop" routerLink="/tasks"></p-button>
      <p-button label="Tài liệu" [text]="true" [plain]="true"
                size="small" class="header-drop" routerLink="/posts"></p-button>
      <p-button label="Lịch" [text]="true" [plain]="true"
                size="small" class="header-drop" routerLink="/calendar"></p-button>
<!--      <p-button label="Tempo" [text]="true" [plain]="true" icon="pi pi-chevron-down" iconPos="right"-->
<!--                size="small" class="header-drop"></p-button>-->
<!--      <p-button label="Boards" [text]="true" [plain]="true" icon="pi pi-chevron-down" iconPos="right"-->
<!--                size="small" class="header-drop"></p-button>-->
<!--      <p-button label="Calendar" [text]="true" [plain]="true" icon="pi pi-chevron-down" iconPos="right"-->
<!--                size="small" class="header-drop"></p-button>-->
<!--      <p-button label="Plain" [text]="true" [plain]="true" icon="pi pi-chevron-down" iconPos="right"-->
<!--                size="small" class="header-drop"></p-button>-->
<!--      <p-button label="Teams" [text]="true" [plain]="true" icon="pi pi-chevron-down" iconPos="right"-->
<!--                size="small" class="header-drop"></p-button>-->
      <p-button label="Thêm mới" (click)="showCreateTask()" [raised]="true" size="small"></p-button>
    </div>
    <div class="p-toolbar-group-end">
      <div class="flex align-items-center gap-2">
          <p-avatar class="header-right relative"
                    severity="danger"
                    pBadge [value]="notificationNotRead"
                    icon="pi pi-bell"
                    [style]="{width: 36, height: 36}"
                    shape="circle"
                    (click)="notification.toggle($event)">
          </p-avatar>
          <!--        <p-avatar class="header-right" icon="pi pi-question-circle" [style]="{width: 36, height: 36}"-->
          <!--                  shape="circle"></p-avatar>-->
          <!--        <p-avatar class="header-right" icon="pi pi-cog" [style]="{width: 36, height: 36}" shape="circle"></p-avatar>-->
        <p-avatar class="header-right rounded-full" [style]="{width: 36, height: 36}" (click)="op.toggle($event)"
                  [image]="getImage(userData.avatarId)" shape="circle"
                  size="normal"></p-avatar>
      </div>
    </div>
  </p-toolbar>

  <p-overlayPanel [style]="{'padding': '0'}" #op>
    <ng-template pTemplate="content">
      <ul class="dropdown-menu">
        <li class="dropdown-item" routerLink="/profile">Hồ sơ</li>
        <li class="dropdown-item" (click)="onLogout()">Đăng xuất</li>
      </ul>
    </ng-template>
  </p-overlayPanel>
    <p-overlayPanel #notification>
        <div class="flex flex-col gap-2 w-25rem">
            @for (notification of notifications; track $index) {
                <p-card styleClass="w-[350px] hover:bg-gray-100 cursor-pointer"
                        [class.opacity-60]="notification.isRead" (click)="onReadNotify(notification.id, notification.taskCode)">
                    <div class="flex gap-1 h-[54px]">
                        <img [src]="getImage(notification.avatarId)" alt="Avatar"
                             class="w-[54px] h-[54px] rounded-full leading-[93px]">
                        <div class="flex flex-col">
                          <p class="text-sm content-tag"><strong>{{ notification.projectName }}</strong> / {{ notification.taskCode }}</p>
                            <p>{{ notification.content }}</p>
                        </div>
                    </div>
                    <p class="text-xs">{{ notification.createTime | date: 'dd/MM/yyyy, h:mm a' }}</p>
                </p-card>
            }

        </div>
    </p-overlayPanel>

</div>
