<div class="pl-6 pr-6">
  <h3 class="font-bold text-2xl pt-4 pb-4">Quản lý danh mục</h3>
  <div class="grid grid-cols-4 w-full pb-4 pt-2">
    <p-iconField iconPosition="right">
      <p-inputIcon styleClass="pi pi-search cursor-pointer" (click)="getCategories()"/>
      <input type="text"
             class="w-full"
             pInputText placeholder="Nhập tên, mô tả"
             AutofocusCustom
             [(ngModel)]="keySearch"
             (keydown.enter)="getCategories()"
      />
    </p-iconField>
  </div>
  <p-table [value]="listData"
           [paginator]="true"
           [rows]="rows"
           editMode="row"
           dataKey="id"
           styleClass="p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="header" let-columns>
      <tr class="text-sm">
        <th pSortableColumn="name">Tên danh mục
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="description">Mô tả
          <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="createTime">Ngày tạo
          <p-sortIcon field="createTime"></p-sortIcon>
        </th>
        <th pSortableColumn="updateTime">Ngày sửa đổi
          <p-sortIcon field="updateTime"></p-sortIcon>
        </th>
        <th class="text-center">Thao tác</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
      <tr class="h-[48px] hover:bg-gray-300 cursor-pointer" [pEditableRow]="item">
        <td class="text-sm">
          <p-cellEditor>
            <ng-template pTemplate="input">
              @if (ri == 0) {
                <input #focusButton pInputText type="text" [(ngModel)]="item.name">
              } @else {
                <input pInputText type="text" [(ngModel)]="item.name">
              }
            </ng-template>
            <ng-template pTemplate="output">
              {{ item.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td class="text-sm">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="item.description">
            </ng-template>
            <ng-template pTemplate="output">
              {{ item.description }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td class="text-sm text-center">{{ item.createTime | date: 'dd/MM/yyyy' }}</td>
        <td class="text-sm text-center">{{ item.updateTime | date: 'dd/MM/yyyy' }}</td>
        <td>
          <div class="flex align-items-center justify-center gap-0">
<!--            <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-filter"-->
<!--                    class="p-button-secondary p-button-text"></button>-->
            @if (ri == 0) {
              <button #addButton *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                      (click)="onRowEditInit(item)" class="p-button-rounded p-button-text"></button>
            } @else {
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                      (click)="onRowEditInit(item)" class="p-button-rounded p-button-text"></button>
            }
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="onRowEditSave(item)"
                    class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(item)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
            <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash"
                    (click)="confirmDelete(item, $event)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="flex justify-center items-center gap-0">
        <p-button [disabled]="listData[0]?.id==''" type="button" icon="pi pi-plus" styleClass="p-button-text" (onClick)="addRow2Table()"></p-button>
        Thêm mới danh mục
      </div>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog></p-confirmDialog>
