<div class="main">
  @if (mode == 'register') {
    <section class="signup">
      <div class="container">
        <div class="signup-content">
          <div class="signup-form">
            <h2 class="form-title">Đăng ký</h2>
            <form [formGroup]="signUpForm" class="register-form" id="register-form">
              <div class="form-group">
                <label for="firstName"><i class="pi pi-user"></i></label>
                <input [formControlName]="'firstName'" type="text" name="firstName" id="firstName" placeholder="Họ của bạn"/>
                @if (showErrorCustom(signUpForm, 'firstName') && firstName?.errors?.['required']) {
                  <span class="text-sm text-red-500">Họ không được để trống</span>
                }
              </div>
              <div class="form-group">
                <label for="lastName"><i class="pi pi-user"></i></label>
                <input [formControlName]="'lastName'" type="text" name="lastName" id="lastName" placeholder="Tên của bạn"/>
                @if (showErrorCustom(signUpForm, 'lastName') && lastName?.errors?.['required']) {
                  <span class="text-sm text-red-500">Tên không được để trống</span>
                }
              </div>
              <div class="form-group">
                <label for="username"><i class="pi pi-user"></i></label>
                <input [formControlName]="'username'" type="text" name="username" id="username" placeholder="Tên tài khoản"/>
                @if (showErrorCustom(signUpForm, 'username') && username?.errors?.['required']) {
                  <span class="text-sm text-red-500">Tên tài khoản không được để trống</span>
                }
              </div>
              <div class="form-group">
                <label for="email"><i class="pi pi-envelope"></i></label>
                <input [formControlName]="'email'" type="email" name="email" id="email" placeholder="Địa chỉ Email"/>
                @if (showErrorCustom(signUpForm, 'email') && email?.errors?.['required']) {
                  <span class="text-sm text-red-500">Email không được để trống</span>
                } @else if (showErrorCustom(signUpForm, 'email') && email?.errors?.['email']) {
                  <span class="text-sm text-red-500">Email không đúng định dạng</span>
                }
              </div>
              <div class="form-group">
                <label for="pass"><i class="pi pi-lock"></i></label>
                <input [formControlName]="'password'" type="password" name="pass" id="pass" placeholder="Mật khẩu"/>
                @if (showErrorCustom(signUpForm, 'password') && signUpForm.controls['password']?.errors?.['required']) {
                  <span class="text-sm text-red-500">Mật khẩu không được để trống</span>
                } @else if (showErrorCustom(signUpForm, 'password') && signUpForm.controls['password']?.errors?.['minlength']) {
                  <span class="text-sm text-red-500">Mật khẩu không được dưới 6 ký tự</span>
                }
              </div>
              <div class="form-group">
                <label for="re-pass"><i class="pi pi-lock"></i></label>
                <input [formControlName]="'confirmPassword'" type="password" name="re-pass" id="re-pass" placeholder="Nhập lại mật khẩu"/>
                @if (showErrorCustom(signUpForm, 'confirmPassword') && confirmPassword?.errors?.['notMatch']) {
                  <span class="text-sm text-red-500">Mật khẩu không khớp</span>
                }
              </div>
<!--              <div class="form-group">-->
<!--                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />-->
<!--                <label for="agree-term" class="label-agree-term"><span><span></span></span>Tôi đồng ý tất cả các điều khoản trong  <a href="#" class="term-service">Điều khoản dịch vụ</a></label>-->
<!--              </div>-->
              <div class="form-group form-button">
                @if (signUpForm.invalid) {
                  <input type="submit" name="signup" id="signup" class="disabled form-submit" value="Đăng ký" style="width: 100%"/>
                } @else {
                  <input (click)="onSubmitSignUp(signUpForm)" type="submit" name="signup" id="signup" class="bg-blue-500 text-white hover:bg-blue-600" value="Đăng ký"/>
                }
              </div>
            </form>
          </div>
          <div class="signup-image">
            <figure><img src="/assets/images/signin-image.jpg" alt="sing up image"></figure>
            <a class="signup-image-link cursor-pointer hover:underline" (click)="changeMode('login')">Quay về trang đăng nhập</a>
          </div>
        </div>
      </div>
    </section>
  } @else if (mode == 'login') {
    <section class="sign-in">
      <div class="container">
        <div class="signin-content">
          <div class="signin-image">
            <figure><img src="/assets/images/signup-image.jpg" alt="sing up image"></figure>
            <a class="signup-image-link cursor-pointer hover:underline" (click)="changeMode('register')">Tạo mới tài khoản</a>
          </div>

          <div class="signin-form">
            <h2 class="form-title">Đăng nhập</h2>
            <form [formGroup]="loginForm" class="register-form" id="login-form">
              <div class="form-group">
                <label for="your_name"><i class="pi pi-user"></i></label>
                <input [formControlName]="'username'" type="text" name="your_name" id="your_name" placeholder="Tên tài khoản"/>
              </div>
              <div class="form-group">
                <label for="your_pass"><i class="pi pi-lock"></i></label>
                <input [formControlName]="'password'" [class.form-input__error]="password?.invalid && password?.touched" type="password" name="your_pass" id="your_pass" placeholder="Mật khẩu"/>
              </div>
<!--              <div class="form-group">-->
<!--                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />-->
<!--                <label for="remember-me" class="label-agree-term"><span><span></span></span>Nhớ mật khẩu</label>-->
<!--              </div>-->
              <div class="form-group form-button">
                <input (click)="onSubmitLogin(loginForm)" [disabled]="loginForm.invalid" type="submit" name="signin" id="signin" class="form-submit" value="Đăng nhập"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  }
</div>
