/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import "quill/dist/quill.snow.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
//@tailwind base;
@tailwind components;
@tailwind utilities;

@layer reset, primeng;

.layout {
  min-height: calc(100vh - 116.16px);
}

@layer reset {

  h1, h2, h3, h4, h5, p, label {
    margin: 0;
    padding: 0;
    color: $--ds-text-subtle;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    padding: 5px;
  }

  tr {
    padding: 0;
    margin: 0;
  }

  .p-overlaypanel .p-overlaypanel-content {
    padding: 0.75rem ;
  }

  .p-multiselect {
    display: flex;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    align-items: center;
    box-shadow: none;

    &:hover {
      outline: none;
      border-color: $bg-primary-link !important;
    }
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .input,
  .p-multiselect {
    width: 100% !important;
    height: 40px;
    border-radius: 3px;
    border-color: var(--gray-300);
    border-width: 2px;
    transition: 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
    &:hover {
      background-color: #EBECF0;
      transition: background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
    }
    &:focus {
      box-shadow: none;
      border-color: $bg-primary-link;
      transition: 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
    }

    &__text--error {
      border-color: $bg-error-red;

      //&:hover,
      &:focus {
        border-color: $bg-primary-link;
      }

      &:disabled {
        background: $bg-gray-input;

        &:hover,
        &:focus {
          border-color: $bg-error-red;
        }
      }
    }
  }

  .p-calendar {
    width: 100%
  }

  .input[disabled]:hover {
    border-color: #e9e9e9;
    //cursor: not-allowed;
  }

  .text-message {
    color: $bg-error-red;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  ng-invalid ng-dirty {
    border-color: $bg-error-red;
    border-width: 2px;
    z-index: 1;
  }
  .p-toolbar {
    padding: 0.6rem 0.8rem;
    background-color: #fff;
    border-radius: 0;
    border-top: none;
  }

  p-avatar {
    width: 36px;
    height: 36px;
    padding: 6px;

    .p-avatar {
      display: contents;
    }

    &:hover {
      background-color: $--button-hover;
    }
  }

  .header-drop {
    button {
      padding: 8px 12px;
      font-size: 13px;
      font-weight: 300;
      color: $--ds-text-subtle;
      border: none;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

      .pi {
        font-size: 13px;
        margin-left: 5px;
      }

      &:hover {
        background-color: $--button-hover;
      }
    }
  }

  .import-button {
    button {
      padding: 8px 12px;
      font-size: 13px;
      font-weight: 300;
      color: $--ds-text-subtle;
      border: none;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
      background-color: #ebecef;
      &:hover {
        background-color: #DCDFE4;
      }
    }
  }

  .p-inputnumber {
    display: contents;
  }

  .border-t-2-primary {
    border-top: 3px solid $bg-primary-link;
    &:hover {
      background-color: $--button-hover!important;
    }
  }

  .p-dropdown,
  .p-treeselect {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border-color: var(--gray-300);
    border-width: 2px;
    display: flex;
    align-items: center;
    outline: none;
    box-shadow: none;

    &:hover {
      outline: none;
      border-color: $bg-primary-link;
      background-color: #EBECF0;
      transition: background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: $bg-primary-link;
      transition: 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
    }
  }

  .p-dropdown-label {
    height: 44px;
  }

  button, input {
    //border: 1px solid #e5e7eb;

    //  &:focus-visible {
    //    outline: none;
    //  }
    //
    //  &:focus {
    //    --tw-border-opacity: 1;
    //    border-color: rgb(37 99 235 / var(--tw-border-opacity));
    //    --tw-ring-color: rgb(37 99 235 / var(--tw-ring-opacity));
    //    outline: rgb(37 99 235 / var(--tw-ring-opacity)) solid 1px;
    //  }
    //}

    //.p-inputtext {
    //display: block;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border-width: 2px;
    transition: 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;

    &:focus {
      box-shadow: none;
      border-color: $bg-primary-link;
      transition: 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
    }

    //}
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 10px
  }

  .p-treetable .p-treetable-tbody > tr > td {
    padding: 0.3rem 1rem
  }

  //.p-component-overlay .p-datepicker-mask .p-datepicker-mask-scrollblocker .p-component-overlay-enter {
  //  z-index: 1 !important;
  //}


  .p-component-overlay {
    z-index: 100 !important;
  }

  .p-dialog-content {
    overflow-y: visible !important;
  }

  th {
    text-align: center;
  }
  .p-treetable-tbody > tr > td > p-treetabletoggler > button,
  .p-paginator > button,
  .p-toast-message-content > button,
  .p-treenode-content > button,
  .p-dialog-footer > button,
  .p-element > button.p-component,
  p-paginator > .p-paginator > span.p-paginator-pages >button.p-paginator-page,
  .p-datatable-header > div > button,
  button.p-multiselect-close,
  button.p-datepicker-next,
  button.p-datepicker-prev,
  button.p-ripple.p-button-rounded.p-button-text{
    width: auto;
    min-width: 40px;
  }

  .p-button.p-button-secondary, .p-button-group.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
    color: #475569;
    background: #f1f5f9;
    border: 1px solid #f1f5f9;
    &:hover {
      background: #e2e8f0;
      border: 1px solid #e2e8f0;
    }
  }

  .p-metergroup {
    gap: 0rem;
  }

  .p-metergroup .p-metergroup-labels.p-metergroup-labels-horizontal {
    gap: 1rem;
    font-size: 0.9rem;
  }

  p-tabview > .tabview-custom.p-tabview > .p-tabview-panels {
    max-height: 500px;
    overflow-y: scroll;
  }

  .p-datepicker .p-datepicker-header .p-datepicker-title {
    display: flex;
    line-height: 2rem;
  }

  .p-calendar-clear-icon {
    margin-top: 0;
  }

  p-calendar.p-calendar-clearable .p-calendar-clear-icon {
    color: #6b7280;
    right: 2.35rem;
  }

  .p-overlaypanel {
    z-index: 99 !important;
  }

  .fc-header-toolbar > div.fc-toolbar-chunk {
    display: flex!important;
  }

  .p-datepicker .p-timepicker button {
    width: 2rem !important;
    height: 2rem !important;
    color: #6b7280;
    border: 0 none;
    background: transparent;
    border-radius: 50% !important;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s !important;
  }

}

.text-color {
  color: $--ds-text-subtle;
}
