/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
//@tailwind base;
@tailwind components;
@tailwind utilities;

@layer reset, primeng;

@layer reset {
  h1, h2, h3, h4, h5 ,p {
    color: $--ds-text-subtle;
  }
  .p-overlaypanel .p-overlaypanel-content {
    padding: 0.75rem ;
  }

  .input {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border-color: var(--gray-300);
    border-width: 2px;
    transition: 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
    &:hover {
      background-color: #EBECF0;
      transition: background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
    }
    &:focus {
      box-shadow: none;
      border-color: $bg-primary-link;
      transition: 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
    }

    &:focus-within {
      //border: 1px solid var(--primary-link) !important;
    }

    &__text--error {
      border-color: $bg-error-red;

      //&:hover,
      &:focus {
        border-color: $bg-primary-link;
      }

      &:disabled {
        background: $bg-gray-input;

        &:hover,
        &:focus {
          border-color: $bg-error-red;
        }
      }
    }
  }

  .input[disabled]:hover {
    border-color: #e9e9e9;
    //cursor: not-allowed;
  }

  .text-message {
    color: $bg-error-red;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  ng-invalid ng-dirty {
    border-color: $bg-error-red;
    border-width: 2px;
    z-index: 1;
  }
  .p-toolbar {
    padding: 0.6rem 0.8rem;
    background-color: #fff;
    border-radius: 0;
    border-top: none;
  }

  p-avatar {
    width: 36px;
    height: 36px;
    padding: 6px;

    .p-avatar {
      display: contents;
    }

    &:hover {
      background-color: $--button-hover;
    }
  }

  .header-drop {
    button {
      padding: 8px 12px;
      font-size: 13px;
      font-weight: 300;
      color: $--ds-text-subtle;
      border: none;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

      .pi {
        font-size: 13px;
        margin-left: 5px;
      }

      &:hover {
        background-color: $--button-hover;
      }
    }
  }

  .p-inputnumber {
    display: contents;
  }

  button, input {
    //border: 1px solid #e5e7eb;

    //  &:focus-visible {
    //    outline: none;
    //  }
    //
    //  &:focus {
    //    --tw-border-opacity: 1;
    //    border-color: rgb(37 99 235 / var(--tw-border-opacity));
    //    --tw-ring-color: rgb(37 99 235 / var(--tw-ring-opacity));
    //    outline: rgb(37 99 235 / var(--tw-ring-opacity)) solid 1px;
    //  }
    //}

    //.p-inputtext {
    //display: block;
    //width: 100%;
    height: 40px;
    border-radius: 3px;
    border-color: var(--gray-300);
    border-width: 2px;
    transition: 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;

    &:hover {
      background-color: #EBECF0;
      transition: background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
    }

    &:focus {
      box-shadow: none;
      border-color: $bg-primary-link;
      transition: 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
    }

    //}
  }
}

.text-color {
  color: $--ds-text-subtle;
}
