<div class="ml-4 mr-4">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-3">
      <p-table [value]="listData"
               [paginator]="true"
               [rows]="rows"
               [style]="{'border-right': '2px solid var(--primary-400)'}">
        <ng-template pTemplate="header" let-columns>
          <tr class="text-sm">
            <th pSortableColumn="subject">Tiêu đề<p-sortIcon field="subject"></p-sortIcon></th>
            <th pSortableColumn="assignUserName">Người thực hiện<p-sortIcon field="assignUserName"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr class="h-[48px] hover:bg-gray-300 cursor-pointer"
              [class.bg-gray-200]="item.taskCode == taskSelected?.taskCode" (click)="viewDetail(item)">
            <td class="text-sm">{{ item.subject }}<br/>{{item.taskCode}}</td>
            <td class="text-sm">{{ item.assignUserName || 'N/A' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    @if (taskSelected) {
      <div class="col-span-5">
        <p class="text-base pb-2">
          <strong class="hover:underline cursor-pointer"
                  routerLink="/projects/{{taskSelected.projectId}}">
            {{taskSelected?.projectName}}
          </strong>
          / {{taskSelected?.taskCode}}
        </p>
        <h3 class="text-2xl pb-3">{{taskSelected.subject}}</h3>
        <div class="flex gap-2 pb-3">
          <p-button label="Chỉnh sửa"
                    [text]="true"
                    [plain]="true"
                    size="small"
                    class="import-button font-light"
                    [styleClass]="'h-[32px]'"
                    icon="pi pi-pencil"
                    (onClick)="showEditTask()"
          />
          <p-button label="Tạo dự án con"
                    [text]="true"
                    [plain]="true"
                    size="small"
                    class="import-button font-light"
                    [styleClass]="'h-[32px]'"
                    icon="pi pi-plus"
                    (onClick)="showAddChildTask()"
          />
        </div>
        <p class="text-base font-bold">Mô tả</p>
        <div [innerHTML]="taskSelected?.description"></div>
        <div class="flex gap-4 items-center pt-4">
          <p class="text-base font-bold">Tệp đính kèm</p>
          @if (attachments.length > 0) {
            <i class="pi pi-eye text-2xl text-gray-500 hover:text-gray-700 cursor-pointer"
               pTooltip="Xem tệp đính kèm"
               (click)="openNewTab(taskSelected?.id)">
            </i>
          } @else {
            <i class="pi pi-eye text-2xl text-gray-500 cursor-no-drop"
               pTooltip="Không có tệp đính kèm nào">
            </i>
          }
        </div>
        @if (attachments.length == 0) {
          <p class="text-base">N/A</p>
        } @else {
          @for (attachment of attachments; track $index) {
            <div class="pb-2">
              <span>{{ $index + 1 }}, </span><a class="text-blue-600 cursor-pointer mb-2 hover:underline"
                                                (click)="downloadAttachment(attachment)">{{ attachment.fileName }}
              ({{ attachment.fileSize | fileSize }})</a>
            </div>
          }
        }
        <div class="pt-4">
          <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
              <ng-template pTemplate="header">
                <div class="flex gap-2">
                  <i class="pi pi-comments"></i>
                  <span>Bình luận</span>
                </div>
              </ng-template>
              <div class="flex flex-col gap-1">
                @for (comment of comments; track $index) {
                  @if (comment.createUserId == user.id) {
                    <div class="flex gap-3 justify-end items-center">
                      <p class="bg-neutral-600 text-white rounded-2xl pt-2 pb-2 pl-3 pr-3"
                         pTooltip="{{comment.createTime | date: 'dd/MM/yyyy, h:mm a' }}">
                        {{ comment.content }}
                      </p>
                    </div>
                  } @else {
                    <div class="flex gap-3 items-center">
                      <img class="h-[32px] w-[32px] rounded-full" [src]="getImage(comment?.avatarId) || avatarDefault"
                           alt="file img not found">
                      <div class="flex flex-col gap-0.5"
                           pTooltip="{{comment.createTime | date: 'dd/MM/yyyy, h:mm a' }}">
                        <p class="text-xs font-bold">{{ comment.createUserName }}</p>
                        <p class="bg-neutral-600 text-white rounded-2xl pt-2 pb-2 pl-3 pr-3">{{ comment.content }}</p>
                      </div>
                    </div>
                  }
                }
              </div>
              <p-divider></p-divider>
              <div class="flex gap-3 items-center">
                <img class="h-[32px] w-[32px] rounded-full" [src]="getImage(user?.avatarId) || avatarDefault"
                     alt="file img not found">
                <p-iconField iconPosition="right" class="w-full">
                  <p-inputIcon styleClass="pi pi-send cursor-pointer" (click)="onComment()"/>
                  <input type="text" pInputText placeholder="Nhập nội dung" [(ngModel)]="contentComment"
                         (keydown.enter)="onComment()"/>
                </p-iconField>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Header II">
              <ng-template pTemplate="header">
                <div class="flex gap-2">
                  <i class="pi pi-history"></i>
                  <span>Lịch sử sửa đổi</span>
                </div>
              </ng-template>
              <div class="flex flex-col gap-1">
                @for (history of updateHistory; track $index) {
                  @if (history.modifyUserName == user.username) {
                    <div class="flex gap-3 justify-end items-center">
                      <div class="flex flex-col gap-0.5 items-end">
                        <p class="text-xs font-bold">Bạn, sửa đổi
                          ngày:{{ history.modifyTime | date: 'dd/MM/yyyy, h:mm a' }}</p>
                        <p class="bg-neutral-600 text-white rounded-2xl pt-2 pb-2 pl-3 pr-3">
                          @if ((history?.newSubject || history?.oldSubject) && (history?.newSubject != history?.oldSubject)) {
                            <strong class="text-md">Tiêu đề: </strong>
                            {{ history?.oldSubject || 'null' }} -> {{ history?.newSubject || 'null' }}
                            <br/>
                          }
                          @if ((history?.newDescription || history?.oldDescription) && (history?.newDescription != history?.oldDescription)) {
                            <strong class="text-md">Mô tả: </strong>
                            {{ history?.oldDescription || 'null' }} -> {{ history?.newDescription || 'null' }}
                            <br/>
                          }
                          @if ((history?.newStatusIssue || history?.oldStatusIssue) && (history?.newStatusIssue != history?.oldStatusIssue)) {
                            <strong class="text-md">Trạng thái: </strong>
                            {{ history?.oldStatusIssue || 'null' }} -> {{ history?.newStatusIssue || 'null' }}
                            <br/>
                          }
                          @if ((history?.newCategory || history?.oldCategory) && (history?.newCategory != history?.oldCategory)) {
                            <strong class="text-md">Danh mục: </strong>
                            {{ history?.oldCategory || 'null' }} -> {{ history?.newCategory || 'null' }}
                            <br/>
                          }
                          @if ((history?.newPriority || history?.oldPriority) && (history?.newPriority != history?.oldPriority)) {
                            <strong class="text-md">Độ ưu tiên: </strong>
                            {{ convertValueById(history?.oldPriority, 'name', SEVERITIES) || 'null' }}
                            -> {{ convertValueById(history?.newPriority, 'name', SEVERITIES) || 'null' }}
                            <br/>
                          }
                          @if ((history?.newSeverity || history?.oldSeverity) && (history?.newSeverity != history?.oldSeverity)) {
                            <strong class="text-md">Độ nghiêm trọng: </strong>
                            {{ convertValueById(history?.oldSeverity, 'name', SEVERITIES) || 'null' }}
                            -> {{ convertValueById(history?.newSeverity, 'name', SEVERITIES) || 'null' }}
                            <br/>
                          }
                          @if ((history?.newStartDate || history?.oldStartDate) && (history?.newStartDate != history?.oldStartDate)) {
                            <strong class="text-md">Thời gian bắt đầu: </strong>
                            {{ (history?.oldStartDate | date: 'dd/MM/yyyy') || 'null' }}
                            -> {{ (history?.newStartDate | date: 'dd/MM/yyyy') || 'null' }}
                            <br/>
                          }
                          @if ((history?.newDueDate || history?.oldDueDate) && (history?.newDueDate != history?.oldDueDate)) {
                            <strong class="text-md">Thời gian kết thúc: </strong>
                            {{ (history?.oldDueDate | date: 'dd/MM/yyyy') || 'null' }}
                            -> {{ (history?.newDueDate | date: 'dd/MM/yyyy') || 'null' }}
                            <br/>
                          }
                          @if ((history?.newDueDate || history?.oldDueDate) && (history?.newDueDate != history?.oldDueDate)) {
                            <strong class="text-md">Thời gian kết thúc: </strong>
                            {{ (history?.oldDueDate | date: 'dd/MM/yyyy') || 'null' }}
                            -> {{ (history?.newDueDate | date: 'dd/MM/yyyy') || 'null' }}
                            <br/>
                          }
                          @if ((history?.newAssignUser || history?.oldAssignUser) && (history?.newAssignUser != history?.oldAssignUser)) {
                            <strong class="text-md">Người thực hiện: </strong>
                            {{ history?.oldAssignUser || 'null' }} -> {{ history?.newAssignUser || 'null' }}
                            <br/>
                          }
                          @if ((history?.newReviewUser || history?.oldReviewUser) && (history?.newReviewUser != history?.oldReviewUser)) {
                            <strong class="text-md">Người nghiệm thu: </strong>
                            {{ history?.oldReviewUser || 'null' }} -> {{ history?.newReviewUser || 'null' }}
                            <br/>
                          }
                          @if ((history?.newEstimateTime || history?.oldEstimateTime) && (history.newEstimateTime != history?.oldEstimateTime)) {
                            <strong class="text-md">Thời gian ước lượng: </strong>
                            {{ history?.oldEstimateTime || 0 }} -> {{ history?.newEstimateTime || 0 }}
                            <br/>
                          }
                          @if ((history?.oldParent || history?.newParent) && (history.oldParent != history?.newParent)) {
                            <strong class="text-md">Công việc cha: </strong>
                            {{ history?.oldParent || 'null' }} -> {{ history?.newParent || 'null' }}
                            <br/>
                          }
                        </p>
                      </div>
                    </div>
                  } @else {
                    <div class="flex gap-3 items-center">
                      <img class="h-[32px] w-[32px] rounded-full" [src]="getImage(history?.avatarId) || avatarDefault"
                           alt="file img not found">
                      <div class="flex flex-col gap-0.5">
                        <p class="text-xs font-bold">{{ history.modifyUserName }}, sửa đổi
                          ngày:{{ history.modifyTime | date: 'dd/MM/yyyy, h:mm a' }}</p>
                        <p class="bg-neutral-600 text-white text-sm rounded-2xl pt-2 pb-2 pl-3 pr-3">
                          @if ((history?.newSubject || history?.oldSubject) && (history?.newSubject != history?.oldSubject)) {
                            <strong class="text-md">Tiêu đề: </strong>
                            {{ history?.oldSubject || 'null' }} -> {{ history?.newSubject }}
                            <br/>
                          }
                          @if ((history?.newDescription || history?.oldDescription) && (history?.newDescription != history?.oldDescription)) {
                            <strong class="text-md">Mô tả: </strong>
                            {{ history?.oldDescription || 'null' }} -> {{ history?.newDescription }}
                            <br/>
                          }
                          @if ((history?.newStatusIssue || history?.oldStatusIssue) && (history?.newStatusIssue != history?.oldStatusIssue)) {
                            <strong class="text-md">Trạng thái: </strong>
                            {{ history?.oldStatusIssue || 'null' }} -> {{ history?.newStatusIssue }}
                            <br/>
                          }
                          @if ((history?.newCategory || history?.oldCategory) && (history?.newCategory != history?.oldCategory)) {
                            <strong class="text-md">Danh mục: </strong>
                            {{ history?.oldCategory || 'null' }} -> {{ history?.newCategory }}
                            <br/>
                          }
                          @if ((history?.newPriority || history?.oldPriority) && (history?.newPriority != history?.oldPriority)) {
                            <strong class="text-md">Độ ưu tiên: </strong>
                            {{ convertValueById(history?.oldPriority, 'name', SEVERITIES) || 'null' }}
                            -> {{ convertValueById(history?.newPriority, 'name', SEVERITIES) }}
                            <br/>
                          }
                          @if ((history?.newSeverity || history?.oldSeverity) && (history?.newSeverity != history?.oldSeverity)) {
                            <strong class="text-md">Độ nghiêm trọng: </strong>
                            {{ convertValueById(history?.oldSeverity, 'name', SEVERITIES) || 'null' }}
                            -> {{ convertValueById(history?.newSeverity, 'name', SEVERITIES) }}
                            <br/>
                          }
                          @if ((history?.newStartDate || history?.oldStartDate) && (history?.newStartDate != history?.oldStartDate)) {
                            <strong class="text-md">Thời gian bắt đầu: </strong>
                            {{ (history?.oldStartDate | date: 'dd/MM/yyyy') || 'null' }}
                            -> {{ history?.newStartDate | date: 'dd/MM/yyyy' }}
                            <br/>
                          }
                          @if ((history?.newDueDate || history?.oldDueDate) && (history?.newDueDate != history?.oldDueDate)) {
                            <strong class="text-md">Thời gian kết thúc: </strong>
                            {{ (history?.oldDueDate | date: 'dd/MM/yyyy') || 'null' }}
                            -> {{ history?.newDueDate | date: 'dd/MM/yyyy' }}
                            <br/>
                          }
                          @if ((history?.newDueDate || history?.oldDueDate) && (history?.newDueDate != history?.oldDueDate)) {
                            <strong class="text-md">Thời gian kết thúc: </strong>
                            {{ (history?.oldDueDate | date: 'dd/MM/yyyy') || 'null' }}
                            -> {{ history?.newDueDate | date: 'dd/MM/yyyy' }}
                            <br/>
                          }
                          @if ((history?.newAssignUser || history?.oldAssignUser) && (history?.newAssignUser != history?.oldAssignUser)) {
                            <strong class="text-md">Người thực hiện: </strong>
                            {{ history?.oldAssignUser || 'null' }} -> {{ history?.newAssignUser }}
                            <br/>
                          }
                          @if ((history?.newReviewUser || history?.oldReviewUser) && (history?.newReviewUser != history?.oldReviewUser)) {
                            <strong class="text-md">Người nghiệm thu: </strong>
                            {{ history?.oldReviewUser || 'null' }} -> {{ history?.newReviewUser }}
                            <br/>
                          }
                          @if ((history?.newEstimateTime || history?.oldEstimateTime) && (history.newEstimateTime != history?.oldEstimateTime)) {
                            <strong class="text-md">Thời gian ước lượng: </strong>
                            {{ history?.oldEstimateTime || 0 }} -> {{ history?.newEstimateTime }}
                            <br/>
                          }
                        </p>
                      </div>
                    </div>
                  }
                }
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
      <div class="col-span-4 flex flex-col gap-4">
        <div class="flex items-center gap-4">
          <!--          <p-button [text]="true"-->
          <!--                    [plain]="true"-->
          <!--                    size="small"-->
          <!--                    class="import-button font-light"-->
          <!--                    [styleClass]="'h-[32px]'"-->
          <!--                    icon="pi pi-angle-down"-->
          <!--                    iconPos="right"-->
          <!--                    [label]="taskSelected.statusIssueName"-->
          <!--          />-->
          <h2 class="text-sm font-bold">{{ taskSelected.statusIssueName }}</h2>
          <div class="w-full relative">
            <p-progressBar [value]="taskSelected.progress" [showValue]="false"></p-progressBar>
            <p class="absolute top-[50%] left-[50%] font-bold"
               style="transform: translate(-50%, -50%);">{{ taskSelected.progress || 0 }}%</p>
          </div>
        </div>
        <p-accordion [multiple]="true" [activeIndex]="[0]">
          <div class="col-start-1 col-end-2"></div>
          <p-accordionTab header="Chi tiết" [headerStyleClass]="'bg-white p-3 text-sm border-solid border-t-2-primary'">
            <div class="grid grid-cols-2 gap-4">
              <div class="col-span-1">
                <p class="text-base">Danh mục</p>
                <p class="text-base">Người tạo</p>
                <p class="text-base">Người thực hiện</p>
                <p class="text-base">Ngày bắt đầu</p>
                <p class="text-base">Ngày kết thúc</p>
                <p class="text-base">Ưu tiên</p>
                <p class="text-base">Mức độ</p>
                <p class="text-base">Loại công việc</p>
                <p class="text-base">Người nghiệm thu</p>
                <p class="text-base">Parent</p>
              </div>
              <div class="col-span-1">
                <p class="text-base">{{taskSelected.categoryName}}</p>
                <p class="text-base">{{taskSelected.createUserName}}</p>
                <p class="text-base">{{taskSelected.assignUserName}}</p>
                @if (taskSelected.startDate != 'N/A') {
                  <p class="text-base">{{ taskSelected.startDate | date: 'dd/MM/yyyy' }}</p>
                } @else {
                  <p class="text-base">N/A</p>
                }
                @if (taskSelected.dueDate != 'N/A') {
                  <div class="flex gap-2">
                    <p class="text-base"
                       [class.text-yellow-400]="compareDateTask(taskSelected.dueDate, taskSelected.warningTime, taskSelected.dangerTime)=='warning'"
                       [class.text-red-600]="compareDateTask(taskSelected.dueDate, taskSelected.warningTime, taskSelected.dangerTime)=='danger'"
                       [class.text-green-500]="compareDateTask(taskSelected.dueDate, taskSelected.warningTime, taskSelected.dangerTime)=='normal'"
                    >
                      {{ taskSelected.dueDate | date: 'dd/MM/yyyy' }}
                    </p>
                    @if (compareCurrentTime(taskSelected.dueDate)) {
                      <p-tag value="Hết hạn" [rounded]="true" severity="danger"></p-tag>
                    }
                  </div>
                } @else {
                  <p class="text-base">
                    N/A
                  </p>
                }
                <p class="text-base">{{convertValueById(taskSelected.priority, 'name', PRIORIES)}}</p>
                <p class="text-base">{{convertValueById(taskSelected.severity, 'name', SEVERITIES)}}</p>
                <p class="text-base">{{taskSelected.typeName}}</p>
                <p class="text-base">{{taskSelected.reviewUserName}}</p>
                @if (taskSelected.projectParentSubject!='N/A') {
                  <a class="text-base text-blue-600 cursor-pointer"
                     (click)="filterTaskSelectedById(taskSelected.parentId)">
                    {{taskSelected.projectParentSubject}}
                  </a>
                }@else {
                  <p class="text-base">{{taskSelected.projectParentSubject}}</p>
                }
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
        <p-accordion [multiple]="true" [activeIndex]="[0]">
          <p-accordionTab header="Children tasks" [headerStyleClass]="'bg-white p-3 text-sm border-solid border-t-2-primary'">
            <div class="grid grid-cols-1 gap-4">
              @if (listChildrenTask.length > 0) {
                <p-treeTable [value]="listChildrenTask"
                             [scrollable]="true"
                             [styleClass]="'p-datatable-sm'">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Task code</th>
                      <th>Subject</th>
                      <th>Tiến độ</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                    <tr [ttRow]="rowNode">
                      <td>
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        <a (click)="filterTaskSelectedById(rowData.id)" class="text-blue-600 cursor-pointer">
                          {{ rowData.taskCode }}
                        </a>
                      </td>
                      <td>{{ rowData.subject }}</td>
                      <td>{{ rowData.progress }}%</td>
                    </tr>
                  </ng-template>
                </p-treeTable>
              } @else {
                N/A
              }
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    }
  </div>
</div>
