<section class="w-full overflow-hidden dark:bg-gray-900">
  <div class="flex flex-col">
    <!-- Cover Image -->
    <img
      [src]="getImageBackground(profileUser?.coverId) || '/assets/images/default-background.png'"
      alt="User Cover"
      class="w-full xl:h-[20rem] lg:h-[18rem] md:h-[16rem] sm:h-[14rem] xs:h-[11rem]"/>

    <!-- Profile Image -->
    <div class="sm:w-[80%] xs:w-[90%] mx-auto flex relative">
      <img
        [src]="getImage(profileUser?.avatarId) || '/assets/images/image-default-user.jpg'"
        alt="User Profile"
        class="profile-avatar rounded-md lg:w-[12rem] lg:h-[12rem] md:w-[10rem] md:h-[10rem] sm:w-[8rem] sm:h-[8rem] xs:w-[7rem] xs:h-[7rem] outline outline-2 outline-offset-2 outline-blue-500 relative lg:bottom-[5rem] sm:bottom-[4rem] xs:bottom-[3rem]"/>

      <!-- FullName -->
      <div class="flex">
        <h1
          class="w-full text-left my-4 sm:mx-4 xs:pl-4 text-gray-800 dark:text-white lg:text-4xl md:text-3xl sm:text-3xl xs:text-xl font-serif">
          {{ profileUser?.firstName }} {{ profileUser?.lastName }}
        </h1>
        <!--        @if (profileUser.id == user.id) {-->
          <button pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-text w-10 h-10 mt-4 hover:bg-gray-400"
                  (click)="startEditProfile()"
          >
          </button>
        <!--        }-->
      </div>
    </div>

    <div
      class="xl:w-[80%] lg:w-[90%] md:w-[90%] sm:w-[92%] xs:w-[90%] mx-auto flex flex-col gap-4 items-center relative lg:-top-8 md:-top-6 sm:-top-4 xs:-top-4">
      <!-- Description -->
<!--      <p class="w-fit text-gray-700 dark:text-gray-400 text-md">Lorem, ipsum dolor sit amet-->
<!--        consectetur adipisicing elit. Quisquam debitis labore consectetur voluptatibus mollitia dolorem-->
<!--        veniam omnis ut quibusdam minima sapiente repellendus asperiores explicabo, eligendi odit, dolore-->
<!--        similique fugiat dolor, doloremque eveniet. Odit, consequatur. Ratione voluptate exercitationem hic-->
<!--        eligendi vitae animi nam in, est earum culpa illum aliquam.</p>-->


      <!-- Detail -->
      <div class="w-full my-auto py-6 flex flex-col justify-center gap-2">
        <div class="w-full flex sm:flex-row xs:flex-col gap-2 justify-center">
          <div class="w-full">
            <dl class="text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
              <div class="flex flex-col pb-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Username</dt>
                <dd class="text-lg font-semibold">{{ profileUser?.username }}</dd>
              </div>
              <div class="flex flex-col py-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Ngày sinh</dt>
                <dd class="text-lg font-semibold">{{ profileUser?.dateOfBirth | date: 'dd/MM/yyyy' }}</dd>
              </div>
              <div class="flex flex-col py-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Giới tính</dt>
                @if (profileUser?.gender == 0) {
                  <dd class="text-lg font-semibold">Nam</dd>
                } @else if (profileUser?.gender == 1) {
                  <dd class="text-lg font-semibold">Nữ</dd>
                } @else {
                  <dd class="text-lg font-semibold">Khác</dd>
                }
              </div>
            </dl>
          </div>
          <div class="w-full">
            <dl class="text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
              <div class="flex flex-col pb-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Địa chỉ</dt>
                <dd class="text-lg font-semibold">{{ profileUser?.address }}</dd>
              </div>
              <div class="flex flex-col pt-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Số điện thoại</dt>
                <dd class="text-lg font-semibold">{{ profileUser?.contact }}</dd>
              </div>
              <div class="flex flex-col pt-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Email</dt>
                <dd class="text-lg font-semibold">{{ profileUser?.email }}</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<p-dialog header="Chỉnh sửa thông tin cá nhân"
          [(visible)]="editMode"
          [modal]="true"
          [style]="{ width: '50vw' }"
          [draggable]="false"
          [resizable]="false">
  <div [formGroup]="form" class="grid grid-cols-2 gap-4">
    <jira-input-text formControlName="email"
                     jiraLabelText="email"
                     [jiraDisabled]="true"
                     [jiraRequired]="true"
                     [jiraErrors]="getError('email')"
                     [jiraShowError]="showError('email')"
                     [jiraErrorDefs]="emailDefineErrors"
    />
    <jira-input-text formControlName="username"
                     jiraLabelText="Tên đăng nhập"
                     [jiraDisabled]="true"
                     [jiraRequired]="true"
                     [jiraErrors]="getError('username')"
                     [jiraShowError]="showError('username')"
                     [jiraErrorDefs]="usernameDefineErrors"
    />
    <jira-input-text formControlName="firstName"
                     jiraLabelText="Tên"
                     [jiraRequired]="true"
                     [jiraErrors]="getError('firstName')"
                     [jiraShowError]="showError('firstName')"
    />
    <jira-input-text formControlName="lastName"
                     jiraLabelText="Họ"
                     [jiraRequired]="true"
                     [jiraErrors]="getError('lastName')"
                     [jiraShowError]="showError('lastName')"
    />
    <div class="flex flex-col gap-2">
      <jira-label jiraLabel="Ngày sinh"></jira-label>
      <p-calendar formControlName="dateOfBirth" [readonlyInput]="true" dateFormat="dd/mm/yy"
                  [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"></p-calendar>
    </div>
    <jira-input-text formControlName="address"
                     jiraLabelText="address"
                     [jiraErrors]="getError('address')"
                     [jiraShowError]="showError('address')"
    />
    <jira-input-text formControlName="contact"
                     jiraLabelText="contact"
                     [jiraErrors]="getError('contact')"
                     [jiraShowError]="showError('contact')"
                     [jiraErrorDefs]="contactDefineErrors"
    />
    <div class="flex flex-col gap-2">
      <jira-label jiraLabel="Giới tính" [jiraRequired]="true"></jira-label>
      <div class="field-checkbox flex gap-2">
        @for (item of GENDER; track $index) {
          <p-radioButton [inputId]="item.id" [value]="item.id" formControlName="gender"></p-radioButton>
          <label [for]="item.id" class="ml-2">{{ item.name }}</label>
        }
      </div>
    </div>
    <div class="flex flex-col gap-2 col-span-2">
      <div class="flex gap-6 items-center">
        <jira-label jiraLabel="Ảnh đại diện"></jira-label>
        <input type="file" value="Chọn ảnh" (change)="onChoseAvatar($event)" class="custom"
               accept="image/*,capture=camera"
               name="photo" id="photo">
        <label for="photo" class="custom-upload-button">Chọn ảnh</label>
      </div>
      <div class="W-full flex justify-center">
        <img
          [src]="previewAvatar || avatarDefault"
          alt="User Profile"
          class="profile-avatar rounded-md lg:w-[12rem] lg:h-[12rem] md:w-[10rem] md:h-[10rem] sm:w-[8rem] sm:h-[8rem] xs:w-[7rem] xs:h-[7rem] outline outline-2 outline-offset-2 outline-blue-500 lg:bottom-[5rem] sm:bottom-[4rem] xs:bottom-[3rem]"/>
      </div>
    </div>
    <div class="flex flex-col gap-2 col-span-2">
      <div class="flex gap-6 items-center">
        <jira-label jiraLabel="Hình nền"></jira-label>
        <input type="file" value="Chọn ảnh" (change)="onChoseCover($event)" class="custom"
               accept="image/*,capture=camera"
               name="photo2" id="photo2">
        <label for="photo2" class="custom-upload-button">Chọn ảnh</label>
      </div>
      <img
        [src]="previewCover || '/assets/images/default-background.png'"
        alt="User Cover"
        class="w-full xl:h-[20rem] lg:h-[18rem] md:h-[16rem] sm:h-[14rem] xs:h-[11rem]"/>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    <div class="flex justify-end">
      <p-button label="Hủy" [text]="true" [plain]="true" size="small" (click)="onCloseEditModal()"></p-button>
      <p-button label="Chỉnh sửa" size="small" [disabled]="form.invalid" (click)="onUpdateInfo()"></p-button>
    </div>
  </ng-template>
</p-dialog>
